%img(src="/public/images/logo.gif" alt="leave your tutanak")

- form_tag do
  = text_field_tag :email, params[:email], :class => 'field'
  = password_field_tag :password, params[:password], :class => 'field'
  <input type="submit" name="submit" class="submit_button" value="login" />



  

