%h1 Team !! 
- form_tag '/teams/search' do
  %p
    =text_field_tag 'search', params[:search]  
    =submit_tag 'Search'

= link_to 'New team', new_team_path


%ul#team_list
  - for join_team in @teams
    %li
      %a{:href => '/teams/'+join_team.alias}  
        &= join_team.alias

