%h1 Preference

/%ul
/  - unless @reservation_users.nil?
/    - for reservation_user in @reservation_users      %li
/        %a{:href => '/users/'+reservation_user.alias+'/@/'}
/          = reservation_user.alias
/        - form_tag edit_teams_user_path
/  - else
/   
- if @reservation_users.nil?
  %p 가입보류중인 회원이 없습니다
- else
  %ul
    - for ruser in @reservation_users
      %li
        %a{:href => '/users/'+ruser.alias+'/@/'}
          = ruser.alias
    - form_tag '/teams_users/'+@team.id.to_s, :method => :put do
      = hidden_field_tag 'user_id', ruser.id
      = hidden_field_tag 'status', 2
      = submit_tag 'update'
