<h1>Listing diaries</h1>

<table>
  <tr>
  </tr>

<% @diaries.each do |diary| %>
  <tr>
    <td><%= link_to 'Show', diary %></td>
    <td><%= link_to 'Edit', edit_diary_path(diary) %></td>
    <td><%= link_to 'Destroy', diary, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New diary', new_diary_path %>