%h1 Diaries 

- unless @diaries.empty?
  - for diary in @diaries
    %p
      = markdown(diary.body)
      = diary.created_at
      %a.who{:href =>'/users/'+diary.user.alias}
        Written by
        = diary.user.alias
      %a.where{:href => '/teams/'+diary.team.alias}
        = 'Where => '+diary.team.alias
- else
  %p#notice
    쓰여진 Diary가 존재하지않습니다 
    - if User.find(session[:user_id]).team[0]  
      %a{:href => '/teams/'+@find.alias}
        Team으로 돌아가기
    - else
      %a{:href => 'rusers/'+@findralias} page ...
