- unless @diaries.empty?
  %h2='These Diaries written by '+params[:user_id]+' in '+params[:id] 
  - for diary in @diaries
    %p
      = diary.body
      = diary.created_at
      %a.where{:href => '/teams/'+diary.team.alias}
        = 'Where => '+diary.team.alias
- else
  %a{:href => new_team_path} Make your own team
