- unless @diaries.empty?
  %h2='These Diaries written by '+params[:user_id]+' in '+params[:id] 
  - for diary in @diaries
    %p
      = markdown(diary.body)
      = diary.created_at
      %a.who{:href =>'users/'+diary.user.alias}
        Written by
        = diary.user.alias
      %a.where{:href => '/teams/'+diary.team.alias}
        = 'Where => '+diary.team.alias
- else
  - if Team.find_by_alias(params[:id])
    %p 쓰여진 글이없습니다
- if User.find(session[:user_id]).team.find_by_alias(params[:id])
  %a{:href => '/teams/'+params[:id]} team...
- else
  %a{:href => '/users/'+User.find(session[:user_id]).alias} my page ...
