- unless @diaries.empty?
  %h2='These Diaries written by '+params[:user_id]+' in '+params[:id] 
  - for diary in @diaries
    %p
      = diary.body
      = diary.created_at
      %a.who{:href =>'users/'+diary.user.alias}
        Written by
        = diary.user.alias
      %a.where{:href => '/teams/'+diary.team.alias}
        = 'Where => '+diary.team.alias
- else
  %p 쓰여진 글이없습니다

%a{:href => '/teams/'+params[:id]} team...
