%h2#new_diariy_title 내가 최근에 쓴글
%p#new_diary_body
  - if @new_diary.nil?
    %span.error 
      최근에 쓰여진 Diary가 없습니다.
  - else
    = @new_diary.body
    = @new_diary.team.alias
    %a.where{:href => '/teams/'+@new_diary.team.alias}
      = 'Where => '+@new_diary.team.alias

%h2#new_team_title 활동이 활발한 팀
- if @update_team.nil?
  최근 활동이 활발한 Team을 찾을수없습니다
- else
  %ul#new_team_list
    - for team in @update_team
      %li
        %a{:href => '/teams/'+team.alias}
          = team.alias
%p
  %a{:href => '/users/'+@user.alias+'/@'} 내가 쓴  Diary 보러가기
