!!! 1.0 Strict
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %title  Diary : #{controller.action_name}
    %style(type="text/css")
      @import url('/public/stylesheets/diary.css');
  %body
    .toolbar
      %h1.typo Welcome to tutanak
      - form_tag '/teams/search' do
        =text_field 'search', ''
        =submit_tag 'Search'
      %p.user_info
        = User.find(session[:user_id]).alias
        %a(href="/main/logout") logout
      %ul
        %li.diaries
          %a{:href => '/users/'+User.find(session[:user_id]).alias+'/@/'}
            Diaries
        %li.teams
          %a{:href => '/users/'+User.find(session[:user_id]).alias+'/*'}  
            Teams
        %li.preference 
          %a{:href => '/users/'+User.find(session[:user_id]).alias+'/edit'}  
            Preference
    .body
      - if flash[:notice]
        %p.flash
          = flash[:notice]

      = yield
    .foot
      %h1='1' 
